@font-face {
  font-family: 'Fraunces';
  src: url('./fonts/Fraunces_9pt-Regular.woff2') format('woff2'),
  url('./fonts/Fraunces_9pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces';
  src: url('./fonts/Fraunces_9pt-Italic.woff2') format('woff2'),
  url('./fonts/Fraunces_9pt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('./fonts/Archivo_SemiExpanded-Medium.woff2') format('woff2'),
  url('./fonts/Archivo_SemiExpanded-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archivo';
  src: url('./fonts/Archivo_SemiExpanded-MediumItalic.woff2') format('woff2'),
  url('./fonts/Archivo_SemiExpanded-MediumItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: 'Fraunces', serif;
  font-size: 22px;

  background-color: #111;
  color: #ddd;
}
