.slide {
  height: 100%;
  padding-bottom: 4rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 4rem;
    //letter-spacing: .1ch;
  }

  p, h1 {
    margin: .5rem 0;
  }
}
