.slider {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .container {
    height: 100%;
    width: 100%;

    display: flex;
  }

  .slide {
    flex: 0 0 100%;
    min-width: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    $size: 4rem;
    position: absolute;
    top: calc(50% - #{$size} / 2);

    height: $size;
    width: $size;

    appearance: none;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: currentColor;

    border-radius: 50%;
    //background-repeat: no-repeat;
    //background-image: url('../../images/arrow.svg');
    //background-size: $size * .9;
    //background-position: center;

    //font-size: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    $hover-scale: scale(1.1);
    $margin: 2rem;

    transition: transform .2s ease;
    cursor: pointer;

    &.hide {
      display: none;
    }

    &:hover {
      transform: $hover-scale;
    }

    &.next {
      right: $margin;
      //$transform: rotate(-60deg);
      //transform: $transform;

      /*&:hover {
        transform: $transform $hover-scale;
      }*/
    }

    &.prev {
      left: $margin;
      //$transform: rotateZ(60deg) rotateY(180deg);
      //transform: $transform;

      /*&:hover {
        transform: $transform $hover-scale;
      }*/
    }
  }

  .nav {
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 1rem 10%;
    box-sizing: border-box;
    background-color: inherit;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    .item {
      position: relative;
      cursor: pointer;

      &.selected:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: transparentize(#ff1f50, .5);
      }
    }
  }
}
